Babel==2.9.1
beautifulsoup4==4.8.2
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.11.28
cffi==1.14.0
Click==7.0
cssselect2==0.3.0
defusedxml==0.6.0
fontawesome-markdown==0.2.6
future==0.18.2
gitdb==4.0.2
GitPython==3.1.0
html5lib==1.0.1
htmlmin==0.1.12
Jinja2==2.11.1
jsmin==2.2.2
libsass==0.19.4
livereload==2.6.1
lunr==0.5.6
Markdown==3.2.1
MarkupSafe==1.1.1
mkdocs==1.1
mkdocs-git-revision-date-localized-plugin==0.5.0
mkdocs-material==5.1.1
mkdocs-material-extensions==1.0b2
mkdocs-minify-plugin==0.2.3
mkdocs-pdf-export-plugin==0.5.5
nltk==3.4.5
Pillow==7.1.1
pycparser==2.20
Pygments==2.5.2
pymdown-extensions==7.0
Pyphen==0.9.5
pytz==2019.3
PyYAML==5.3
six==1.14.0
smmap==3.0.1
soupsieve==2.0
tinycss2==1.0.2
tornado==6.0.3
WeasyPrint==51
webencodings==0.5.1
